TEST-*.xml
test*.exec
run-test
**/xllmnrd/xllmnrd
**/xllmnrd/xllmnrd.8
**/xllmnrd/xllmnrd.init
getopt.h
stddef.h
stdlib.h
sysexits.h
unistd.h
**/sys/types.h
Makefile
config.h
libtool
POTFILES
config.status
Makefile.in
config.h.in
configure
aclocal.m4
stamp-*
_build
.libs
.deps
remove-potcdate.sed
*.insert-header
*.gmo
*.trs
*.la
*.a
*.lo
*.o
*.log
*.cache
*.rej
*.orig
*~
